.ExportDialog #method {
	width: 30%;
	padding-left: 10px;
	margin-left: 40px;
}

.ExportDialog button {
	margin-left: 20px;
}

.ExportDialog-data {
	resize: none;
	width: 100%;
	height: 20vh;
	font-size: smaller;
}
