.SettingsPanel {
	position:absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}

.SettingsPanel-mode{
	width:100%;
}

.SettingsDock .DockPanel-hide {
	right: 100%;
	top: 20px;
	position:absolute;
}

.SettingsPanel-table {
	width: 100%;
	min-width: 250px;
	table-layout:fixed;
}

.SettingsPanel-table th {
	background: aliceblue;
	text-decoration:bold;
}

.SettingsPanel-table td div:first-child{
	width: 100%;
}

.SettingsPanel-table td{
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

.SettingsPanel-table tr input, .SettingsPanel-table tr select{
	background:none;
	height: 100%;
	width:100%;
}

.SettingsPanel-table .reset {
	width: 100%;
}

.SettingsPanel-table tr:nth-child(even) {
	background: #f6f6f6;
}

.SettingsPanel-tab {
	padding: 5px;
	box-shadow:none;
	border-radius:0;
	width:100%;
}
th:first-of-type .SettingsPanel-tab{
	border-left: none;
}
