.Toolbar {
	position: absolute;
	left: 0;
	top: 10%;
	width: 40px;
}
.nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus:hover {
	color: white !important;
}
.Toolbar .nav-tabs>li>a, .Toolbar .nav-tabs>li>a:focus {
	background:white;
	box-shadow: none;
	border-radius: 0;
}

.Toolbar .nav-tabs {
	box-shadow: 1px 1px 3px #aaa;
}

.Toolbar .nav-tabs>li{
	width: 100%;
	color: #ddd;
}


.Toolbar .nav-tabs>li.active>a {
	background: #2196f3;
	color:white;
}
.Toolbar-undo-redo {
	padding-top:30px;
	width:100%;
}

.Toolbar-undo-redo button {
	border:none;
}

.Toolbar-undo-redo button:focus {
	background: white;
	border-bottom: none;
	z-index: auto !important;
}

